body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

p {
  margin: 0.5rem 0;
}

.company-dates {
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

.contact-details {
  display: none;
}

.main-header {
  margin-bottom: 2em;
  text-align: center;
}

.profile-links {
  margin: 0;
  padding: 0;
}

.profile-links li {
  display: inline-block;
}

.profile-links li + li:before {
  content: " | ";
  padding: 0 0.2em;
}

.role-title {
  font-size: 1.4em;
  margin: 0;
}

.role-company {
  display: inline-block;
  font-size: 1.4em;
  font-style: italic;
  width: fit-content;
}

.role-dates {
  float: right;
  font-size: 1.4em;
  font-style: italic;
}

.role-detail {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
}

.section-heading {
  margin: 1em 0 0.5em 0;
}

.sub-project {
  font-weight: normal;
  margin: 0.5em 0 0 0;
  text-decoration: underline;
}

.subject {
  font-size: 2em;
  margin-bottom: 0.1em;
}
